// Page
// ====================================================

// Posts
// ====================================================

.button--archive {
  margin-bottom: 0;
}
.page-banner__title
{
  font-weight: 500!important;
}

.post {
  margin: 0 0 40px 0;

  @media #{$lg-up}{
    margin: 0 0 60px 0;
  }
  .post-featured-image {
    margin: 0 0 20px 0;
    img {
      @include img-responsive();
    }
  }
  .post-title {
    h2 {
      margin-bottom: 10px;
    }
  }
  .post-date {
    @extend .sc-heading__sub-title;
    margin: 0 0 20px 0;
  }
  .post-media__image {
    @include img-responsive();
    margin: 0 0 40px 0;
  }
  .post-excerpt p {
    margin: 0 0 25px 0;
  }
}

.post-return-link{
  margin: 0 0 50px 0;
}

.single-post,
.single-sc-press-release,
.single-sc-publication {
  // .page-banner__header {
  //   display: none;
  // }
  .post__heading {
    .sc-heading{
      &__sub-title {
        color: $primary-font-color;
        font-weight: 400;
        font-size: 1.5rem;
        letter-spacing: .025em;
        line-height: 2.4rem;
        margin: 10px 0 0 0;
        position: relative;
        text-transform: none;
      }
    }
  }
}

// Blog Sidebar
// ====================================================

.single-post,
.archive,
.blog {
  .arch-title {
    color: $secondary-color;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0.1em;
    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 1px;
      background: $primary-color;
    }
  }
  .archive-list {
    margin-top: 40px;
  }
  .post-categories,
  .post-archive {
    font-weight: 400;
    & {
      color: $primary-color;
      list-style: none;
      list-style-type: none;
      margin: 0 0 30px 0;
      padding: 0;
      li {
        padding: 0 0 0 15px;
        position: relative;
        &::before {
          position: absolute;
        }
      }
    }
    & {
      li {
        &::before {
          color: $secondary-color;
          content: "• ";
          display: block;
					@include rem(font-size, 20px);
          top: 12px;
          left: 0;
          line-height: 0;
        }
        ul {
          list-style: square;
          padding: 10px 10px 0 10px;
          li {
            &::before {
              content: "";
            }
            padding-bottom: 0;
            padding-left: 1em;
          }
        }
      }
    }
  }
}
