// Responsive Tables
// -----------------------------------------------------------------------------


.sc-responsive-table {
	border-collapse: collapse;
	display: table;
	margin: 0 0 40px 0;
	position: relative;
	width: 100%;
	th,
	td {
		min-width: 100px;
		padding: 10px;
		text-align: left;

		@media #{$md-up}{
			text-align: center;
		}
	}
	th {
		// background: $thead-background-color;  $secondary-color 
		// border: 1px solid $thead-border-color;
		background: $secondary-color ;  
		border: 1px solid $secondary-color ;
		color: $thead-font-color;
		font-size: 1.3rem;
		font-weight: 700;
		letter-spacing: .15em;
		text-transform: uppercase;
	}
	td {
		border: 1px solid $tbody-border-color;
		background: $tbody-background-color;
	}
}

.sc-responsive-table--horizontal {
	display: block;
	thead {
		display: block;
		float: left;
		width: auto;
	}
	tbody {
		border-right: 1px solid $tbody-border-color;
		display: flex;
		width: auto;
		position: relative;
		overflow-x: auto;
		tr:not(:last-child) {
			border-right: 1px solid $tbody-border-color;
		}
	}
	tr {
		display: block;
		flex-grow: 1;
	}
	th,
	td {
		border: 0;
		display: block;
	}
	th {
		border-bottom: 1px solid $thead-border-color;
		border-left: 1px solid $thead-border-color;
		border-right: 1px solid $thead-border-color;
	}
	th:first-child {
		border-top: 1px solid $thead-border-color;
	}
	td {
		border-bottom: 1px solid $tbody-border-color;
	}
	td:first-child {
		border-top: 1px solid $tbody-border-color;
	}
}
